* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.top {
  background-color: rgb(225, 255, 143);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  overflow: auto;
}
.top__content {
  margin-top: 196px;
  width: 768px;
}
.top__content-mobile {
  display: none;
}
.top__content-star-1 {
  position: absolute;
  left: 156px;
  top: 69px;
}
.top__content-star-2 {
  position: absolute;
  left: 63px;
  top: 94px;
}
.top__content-star-3 {
  position: absolute;
  right: 455px;
  bottom: 225px;
}
.top__content-star-4 {
  position: absolute;
  right: 344px;
  bottom: 149px;
}
.top__content-star-5 {
  position: absolute;
  right: -488px;
  top: -333.46px;
}
.top__content-title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.top__content-quote {
  width: 720px;
  margin-top: 24px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top__content-quote-bold {
  font-weight: 600;
}
.top__content-button-container {
  box-sizing: border-box;
  margin-top: 48px;
  width: 247px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding-left: 28px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__content-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.top__content-button-container:hover {
  background-color: white;
  cursor: url("../img//cursor.svg"), pointer;
}
.top__content-button-container:hover .top__content-button {
  color: black;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.about-games {
  background-color: rgb(32, 32, 39);
  height: 1470px;
  overflow: auto;
}
.about-games-star-container {
  z-index: -2;
}
.about-games-star-1 {
  position: absolute;
  left: 25px;
  top: 1570px;
}
.about-games-star-2 {
  position: absolute;
  left: 40px;
  top: 1622px;
}
.about-games-star-3 {
  position: absolute;
  right: -110px;
  top: 946px;
}
.about-games__content-title {
  margin-top: 94px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.about-games__content-quote {
  margin-top: 24px;
  width: 788px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.about-games__cards-container {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.about-games__cards-container-top {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: flex-start;
}
.about-games__cards-container-bottom {
  margin-top: -7px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: flex-end;
}
.about-games__cards-container a {
  text-decoration: none;
}
.about-games__cards-container-item {
  width: 378px;
  border-radius: 30px;
  background-color: white;
  transition: transform 0.3s ease;
}
.about-games__cards-container-item-img {
  width: 378px;
  height: 314px;
}
.about-games__cards-container-item-content-container {
  padding: 32px 32px 36px 32px;
}
.about-games__cards-container-item-button {
  height: 36px;
  box-sizing: border-box;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
  border: none;
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  align-items: center;
}
.about-games__cards-container-item-title {
  margin-top: 16px;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.about-games__cards-container-item:hover {
  transform: scale(1.05);
  z-index: 3;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  height: 3500px;
  overflow: auto;
  position: relative;
}
.mini-games-star-1 {
  position: absolute;
  right: 124px;
  top: 93px;
}
.mini-games-star-2 {
  position: absolute;
  right: 45px;
  top: 126px;
}
.mini-games-star-3 {
  position: absolute;
  right: 150px;
  bottom: 45px;
}
.mini-games-star-4 {
  position: absolute;
  right: 52px;
  bottom: 65px;
}
.mini-games__content-title {
  margin-top: 46 px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__cards-container {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-games__cards-container-item {
  height: 500px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.mini-games__cards-container-item:nth-child(even) {
  flex-direction: row-reverse;
}
.mini-games__cards-container-item-content {
  padding: 48px;
  width: 600px;
  box-sizing: border-box;
}
.mini-games__cards-container-item-content-title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}
.mini-games__cards-container-item-content-description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__cards-container-item-content-button-container {
  box-sizing: border-box;
  margin-top: 36px;
  width: 247px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding-left: 28px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-games__cards-container-item-content-button {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.mini-games__cards-container-item-content-button-container:hover {
  background-color: white;
}
.mini-games__cards-container-item-content-button-container:hover .mini-games__cards-container-item-content-button {
  color: black;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__span {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: relative;
    overflow-x: hidden;
  }
  .top__content {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 147px;
  }
  .top__content-mobile {
    display: block;
  }
  .top__content-mobile-star-1 {
    position: absolute;
    left: 37px;
    top: 97px;
  }
  .top__content-mobile-star-2 {
    position: absolute;
    left: 91px;
    top: 64px;
  }
  .top__content-mobile-star-3 {
    position: absolute;
    right: 86px;
    bottom: 125px;
  }
  .top__content-mobile-star-4 {
    position: absolute;
    right: 34px;
    bottom: 79px;
  }
  .top__content-mobile-star-5 {
    position: absolute;
    right: -86px;
    top: -86px;
  }
  .top__content-button-container {
    margin-top: 36px;
  }
  .top__content-star-1 {
    display: none;
  }
  .top__content-star-2 {
    display: none;
  }
  .top__content-star-3 {
    display: none;
  }
  .top__content-star-4 {
    display: none;
  }
  .top__content-star-5 {
    display: none;
  }
  .top__content-title {
    width: 262px;
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__content-quote {
    width: 296px;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__content-button-container {
    width: 285px;
  }
  .top__content-button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */